<form action="/api/signup" method="post">
	<div class="input">
		<label for="email">E-mail</label>
		<input type="text" id="email" name="email" value="{{retryValues.email}}">
	</div>
	<div class="input">
		<label for="username">Username</label>
		<input type="text" id="username" name="username" value="{{retryValues.username}}">
	</div>
	<div class="input">
		<label for="password">Password</label>
		<input type="password" id="password" name="password">
	</div>
	<button type="submit">Sign up</button>
</form>
