<form action="/api/login{{next}}" method="post">
	<div class="input">
		<label for="emailOrUsername">E-mail or username</label>
		<input type="text" id="emailOrUsername" name="emailOrUsername" value="{{retryValues.emailOrUsername}}">
	</div>
	<div class="input">
		<label for="password">Password</label>
		<input type="password" id="password" name="password">
	</div>
	<button type="submit">Log in</button>
</form>
