<section>
	<form action="/api/record" method="post">
		<div class="input">
			<label for="videoUrl">Youtube video URL:</label>
			<input type="text" id="videoUrl" name="videoUrl">
			<button type="submit">Track!</button>
		</div>
	</form>
</section>
<hr>
