<section>
	<form action="/api/recordFull" method="post">
		<div class="input">
			<label for="videoUrl">Youtube video URL:</label>
			<input type="text" id="videoUrl" name="videoUrl" value="{{videoUrl}}">
		</div>
		<div class="input">
			<label for="channelName">Channel name:</label>
			<input type="text" id="channelName" name="channelName">
		</div>
		<div class="input">
			<label for="videoName">Video name:</label>
			<input type="text" id="videoName" name="videoName">
		</div>
		<div>
			<button type="submit">Track!</button>
		</div>
	</form>
</section>
<hr>
